body{
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 360px;
    padding: 10px 20px;
    margin: auto 8px;
    margin-top: 30px;
    background-color: #f6f6f6;
    box-shadow: 2px 2px #d8d8d8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

p {
    font-size: 24px;
    font-weight: 700;
    color: blue;
    text-align: center;
}